$p-blue: hsl(243, 100%, 93%);
$g-blue: hsl(229, 7%, 55%);
$d-blue: hsl(228, 56%, 26%);
$vd-blue: hsl(229, 57%, 11%);
$vdl-blue: hsla(229, 44%, 17%, 0.699);
$white: hsl(0, 0%, 100%);
$l-white: hsl(0, 6%, 85%);